* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.App {
  text-align: center;
}

.container {
  background-color: #fff;
  padding: 0 0.5rem 2rem 1.5rem;
  margin-bottom: 40px;
  text-align: center;

}

.header {
  background-color: rgb(34, 32, 32);
  color: white;
  padding-bottom: 0.5rem;
  text-align: center;
}

.title{
  padding-right: 30px;
}

.paragraph {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chatbox {
  background-color: #fff;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  padding: 1rem 0.5rem 2rem 1.5rem;
  width: 300px;
  position: fixed;
  bottom: 10px;
  right: 28px;
}

.chatbox-header {
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

.input {
  width: 70%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.input:focus {
  outline: none;
  background-color: #ddd;
}

.btn {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(4, 73, 35);
}

.btn-send {
  background-color: #00b894;
  color: #fff;
  border: none;
}

.btn-show {
  background-color: #00b894;
  color: #fff;
  border: none;
}